<table class="table table-bordered table-hover table-light table-sm" style="width:100%;border:2px solid black; text-align: center;">
  <thead class="" style="padding:5px;color:#fff;  text-align: center; font-size: 25px; background-color:#41465c;">
    <tr>
      <th scope="col" style="padding:.5rem;">Method</th>
      <th scope="col">Host</th>
      <th scope="col">URL</th>
      <th scope="col">Response</th>
    </tr>
  </thead>
  <tbody style="font-size: 17px;background-color:#C0C0C0;">
    {% for request in requests %}
      {% include 'components/http_packet.html' %}
    {% endfor %}
  </tbody>
</table>
{% include 'components/pagination.html' %}
