<table class="table table-bordered" style="width:100%; text-align: center; border-radius: 10px 10px; overflow: hidden;">
  <thead class="" style="padding:5px;color:#fff;  text-align: center; font-size: 25px; background-color:#41465c;">
    <tr>
      <th scope="col">Method</th>
      <th scope="col">Host</th>
      <th scope="col">URL</th>
      <th scope="col">Response</th>
    </tr>
  </thead>
  <tbody style="font-size: 17px;background-color:#C0C0C0;">
    {% for request in requests %}
      {% include 'components/http_packet.html' %}
    {% endfor %}
  </tbody>
</table>
{% include 'components/pagination.html' %}
