<table class="table table-bordered table-hover table-light table-sm" style="width:100%;border:2px solid black; text-align: center;">
  <thead class="" style="padding:5px;color:#fff;  text-align: center; font-size: 25px; background-color:#41465c;">
    <tr>
      <th scope="col">source ip</th>
      <th scope="col">destination ip</th>
      <th scope="col">Type</th>
      <th scope="col">Code</th>
      <th scope="col">Checksum_status</th>
    </tr>
  </thead>
  <tbody style="font-size: 17px;background-color:#C0C0C0;"">
    {% for icmp in icmps %}
    {% include 'components/icmp_packet.html' %}
    {% endfor %}
  </tbody>
</table>
{% include 'components/pagination.html' %}
