{% extends 'base.html' %}
{% block title %}
HTTP requests
{% endblock %}
{% block content %}
    <table>
    <th>Method</th>
    <th>Host</th>
    <th>URL</th>
    <th>Version</th>
    <th>response_code_desc</th>
    <th>response_code</th>
    {% for request in requests %}
     <tr>
      <td>{{ request.method }}</td>
      <td>{{request.host }}</td>
      <td>{{ request.url }}</td>
      <td>{{ request.version }}</td>
      <td>{{ request.response_code_desc}}</td>
      <td>{{ request.response_code}}</td>
      
    {% else %}
      <h2>No HTTP requests</h2>
     </tr>
    {% endfor %}
    </table>
{% endblock %}
